Transparent proxying clarity

The 4th paragraph of the introduction says:

> Existing proxies that are not based on QUIC are often transparent. That is, they do not
require the cooperation of the ultimate connection endpoints, and are often not
visible to one or both of the endpoints. If QUIC provides the basis for future tunneling
and proxying solutions, it is expected that this relationship will change.

It is not totally clear what we think the challenges are for transparent proxying with QUIC. Perhaps explaining them will make the the assertion 'it is expected this relationship will change' more understandable. 

Okay, I think there are actually two points here: 1) with QUIC or TLS1.3 this is simply not that easily possible anymore, and 2) a transparent solution is easier to implement (and deploy) but worse for protocol evolution. Not sure I want to go too deep into the second point in this document.

There are a couple of RFC we could cite for potential both points: RFC8546, RFC8404, RFC3234, as well as draft-ietf-tsvwg-transport-encrypt-05 . However, not sure I want to do that...